body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.6em;
  color: #4f9e6b;
  font-weight: 600;
  text-decoration: line-through;
  background-color: #e67ba3;
}
p{
  margin: 0;
  padding: 0;
  border: 5px solid black;
}